In [2]:
import pandas as pd

In [3]:
a = pd.read_csv("International sale Report.csv")

In [4]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37432 entries, 0 to 37431
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               37432 non-null  int64
 1   Sale_Date           37431 non-null  object
 2   Sale_Month          37407 non-null  object
 3   Customer_Name       36392 non-null  object
 4   Product_Style       36392 non-null  object
 5   Product_SKU         34958 non-null  object
 6   Product_Size        36392 non-null  object
 7   Quantity_Purchased  36392 non-null  object
 8   Price_per_Unit      36392 non-null  object
 9   Gross_Amount        36392 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.9+ MB

In [5]:
# Get unique customer names
print("Unique Customer Names:")
print(a['Customer_Name'].unique())
print("\n")

# Get unique sale dates
print("Unique Sale Dates:")
print(a['Sale_Date'].unique())
print("\n")

# Get unique sale months
print("Unique Sale Months:")
print(a['Sale_Month'].unique())

Unique Customer Names:
['REVATHY LOGANATHAN' 'FARIA ESSOPP' 'MANGALAM SHOP'
 'THANA NAGISSWARY L MARIMUTHU' 'MR.ALWAR MURALI' 'RAZIA ROSEANE NASER'
 'SIRI PADALA' 'FUSION FASHIONS CORP.' 'MIZNA WAHEEDH'
 'AMANI CONCEPT TRADING LLC (KAPDA)' 'NITHARSHA' 'SYEDA MORSHED'
 'VINTAGE INDIA NYC' 'M/S CHARISMAKURTIES(DUBAI)' 'MULBERRIES BOUTIQUE'
 'COTTON CLOSET LTD' 'THANA MARIMUTHU' 'SHWETA' 'MONIYSHAA' 'AANCHOL'
 'KHUSBOO BEEHARRY' 'ARUNA DEVI' 'YAMUNAH PUSPANATHAN'
 'RISHIKESH DASHPUTRE' 'REGA' 'SURE FASHIONS LLC' 'MR ALWAR MURALI'
 'KOGILA SELLAPPAN' 'MONISYAA' 'VINODHA PUSPANATHAN' 'REKA RASAKODY'
 'ARKH FASHION' 'PUVANES GANNASIN' 'VINIâ€™S AUTHENTIC INDIAN ETHNIC WEAR'
 'BINCY SKARIA' 'YASHWINI REDDY' 'BANUJA RASAKODY' 'VAHLAARMATHY'
 'AKASH KAUSHAL' 'KIRUTHIKA V SURESHBABU' 'RIVAAN LLC' 'SINDHU'
 'DHENOOGA RAVINTHERAN' 'VAHARSHA BOUTIQUE' 'MANISH DHOORUNDHUR'
 'RINO SANDARAN' 'VENDAN' 'VISHAL DARSHAN BOUTIQUE' 'KAVEENAZ COLLECTION'
 'ALAMELOO(MALA)' 'MURUGESAN CHANDRA' 'MEERA RASADURAI' 'MANJULIKA GUPTA'
 'GALAXY GROUP OF COMPANIES PVT. LTD' 'NIRUSAH TAILORING' 'DEVY'
 'VAHARSHA BOUTIQUE ' 'KALAIVANI PERMALU' 'ARKH FASHION BOUTIQUE PTY LTD'
 'DANESHWARY RAMAR' 'MILLENIUS VENTURES' 'GEETHA RAJA GOPAL' 'TANUJ UPPAL'
 'ADDVEN SOLUTIONS PRIVATE LIMITED' 'MRS DEVIANEE BALLAH'
 'DEEPARATI MUKHERJEE' 'RANDHIR CHAUDHARY' 'ANJU BHARATI' 'VISHA DEVAN'
 'SWATI REDDY' 'ABDUL RAHMAN(SINGAPORE)' 'RAJ.' 'MANGROWTEE SOOKDEB'
 'KAZI NURAN HAQUE' 'PUNITHAVATHY KARUPIAH' 'SUUMAYA CLOTHING' 'NALINI'
 'MR. GOPALDAS' 'REMMIA MATHEWS' 'ANU RANJANI ANPALAGAN' 'ENTHULEGA '
 'IBRAHIM MAFTHOOH(JANASYA.IN)' 'MAAVI FASHION' 'K.PARTHIBAN' 'KHIRTHIKA '
 'HARSINIY KUMARESON' 'SWATI(SINGAPORE)' 'SWEETY AKHTER' 'LEKSHMI'
 'KHANJANA MOJEE' 'BISSY SKARIA' 'TANUSREE MAJUMDER' 'SUGITHA SUGHUMARAN'
 'THARSIKA EUGIN ' 'JEVI' 'DIVYA' 'THILAS BOMBAY BOUTIQUE SDN BHD'
 'MR.JEYARAJ' 'ABBI COLLECTION ' 'AVIN  ' 'RANJANA DEV DEVRAJ'
 'NAYANA SAWLANI' 'MRS. THARANI SATHIYANATHAN '
 'ETHNIC WEAVES FASHION LLC' 'MANGAI PRABHAKAR' 'MRS. SUMITHA RAJU'
 'RINA THAKURTA' 'MALLAR MAHALINGAM ' 'THEVI MURUGAIAH' 'NATHIYA REDDY'
 'MOHANA KARTHIK ' 'SHILPI KUMARI' 'YASSHLINY KUNJU'
 'BHANU SALEINE NAUNITHAM ' 'TURGAH MUTHU KUMAR'
 'VIKNES THREADS COLLECTION' 'NITHA PUSHPANGADAN SARALA' 'RAVINDER VAID'
 'AMBIKA SYAM SUNDAR' 'ARANGAN FASHIONS' 'SANCHITA KARKI'
 'OKASINA TRADING' 'KASTHURI RAMASAMY' 'RADHIKA SANTHOSH' 'TASSELS LTD'
 'Nitha Pushpangadan Sarala' 'RIA FASHION'
 'Fusion Fashions Corp. (Gopikas)' 'Natheliya' 'The Pink Market'
 'KAMALA RENGASAMY' 'Chaaya Sookdeb' 'Avin' 'Amandeep Kaur' 'G JANANI'
 'Harsiniy Kumar' 'Thana Marimuthu' 'Priyanka Gupta' 'AJS INDIAN BOUTIQUE'
 'BHAVANANTHINI' 'Tanusree Majumder' 'R. VIKNESWARI' 'Rakshanda Mahajan'
 'Dhenooga Ravintheran' 'Dishanu Fashion World ' 'Gajanan'
 'Jeannie Thein Win' 'Ria Fashion' 'Swati Reddy' 'AVIN'
 'BHANU SALEINE NAUNITHAM' 'Valli Arangan Fashion' 'Sushama Borhade'
 'Diya Designs' 'Babitha huxley' 'Dishanu Fashion World'
 'Lazy Daisy Co Ltd ' 'Siva' 'Vinodha' 'Mrs Sumitha Raju' 'Rino Sandaran'
 nan 'Months' '21-Jun' '21-Jul' '21-Aug' '21-Sep' '21-Oct' '21-Nov'
 '21-Dec' '22-Jan' '22-Feb' '22-Mar']


Unique Sale Dates:
['06-05-2021' '06-08-2021' '06-11-2021' ... 'KASTHURI RAMASAMY'
 'RADHIKA SANTHOSH' 'TASSELS LTD']


Unique Sale Months:
['21-Jun' '21-Jul' '21-Aug' '21-Sep' '21-Oct' '21-Nov' '21-Dec' '22-Jan'
 '22-Feb' '22-Mar' '22-Apr' '22-May' nan 'Stock' '43' '55' '53' '34' '119'
 '100' '152' '37' '114' '73' '128' '144' '45' '97' '311' '129' '8' '40'
 '127' '66' '15' '9' '147' '11' '89' '10' '38' '231' '25' '24' '289' '108'
 '49' '329' '16' '212' '39' '90' '206' '194' '491' '59' '104' '116' '4'
 '6171' '1486' '175' '1600' '52' '32' '30' '81' '20' '18' '31' '19' '23'
 '1122' '316' '117' '84' '164' '429' '399' '188' '192' '163' '106' '143'
 '214' '179' '2064' '17' '13' '307' '46' '487' '82' '109' '172' '1219'
 '83' '155' '140' '21' '536' '468' '107' '573' '495' '236' '251' '28'
 '123' '678' '50' '467' '521' '48' '12' '926' '358' '232' '1617' '112'
 '65' '47' '88' '426' '161' '376' '417' '1787' '402' '27' '800' '310' '92'
 '54' '191' '1' '3' '0' '299' '291' '2' '58' '56' '146' '98' '26' '162'
 '243' '29' '302' '72' '150' '115' '431' '1061' '281' '33' '87' '423'
 '323' '660' '257' '502' '221' '158' '588' '279' '385' '209' '139' '640'
 '201' '196' '86' '528' '135' '326' '180' '120' '148' '74' '44' '230'
 '103' '237' '278' '51' '253' '190' '217' '63' '519' '197' '483' '159'
 '356' '290' '77' '1933' '76' '41' '346' '1390' '626' '60' '121' '1568'
 '305' '924' '957' '156' '166' '933' '833' '36' '131' '22' '78' '79' '145'
 '71' '219' '136' '516' '454' '459' '57' '169' '269' '350' '476' '75'
 '260' '101' '246' '258' '1213' '503' '225' '68' '42' '428' '2256' '171'
 '280' '113' '499' '234' '99' '586' '142' '67' '229' '6' '480' '216' '215'
 '95' '204' '293' '266' '658' '298' '547' '202' '493' '5' '273' '477'
 '272' '138' '1214' '235' '633' '61' '2260' '35' '259' '91' '173' '125'
 '241' '304' '223' '62' '372' '254' '7' '286' '398' '437' '456' '226'
 '413' '591' '252' '14' '261' '181' '387' '3204' '723' '2086' '256' '96'
 '85' '184' '167' '333' '594' '186' '94' '227' '619' '759' '210' '199'
 '213' '344' '176' '185' '309' '211' '174' '593' '970' '424' '1605' '1584'
 '362' '70' '193' '388' '418' '515' '271' '105' '371' '1128' '757' '568'
 '189' '874' '340' '126' '581' '233' '641' '317' '151' '348' '406' '137'
 '320' '64' '338' '274' '563' '80' '324' '69' '183' '359' '741' '134'
 '1316' '685' '474' '205' '579' '154' '149' '328' '361' '526' '249' '405'
 '255' '993' '322' '625' '469' '943' '403' '441' '207' '439' '218' '435'
 '339' '275' '404' '357' '244' '160' '373' '331' '93' '585' '277' '541'
 '1533' '496' '354' '332' '367' '110' '420' '475' '670' '415' '409' '732'
 '1606' '178' '624' '543' '347' '132' '208' '264' '242' '501' '504' '393'
 '507' '497' '157' '314' '567' '313' '270' '240' 'DATE' '06-05-2021'
 '06-08-2021' '06-11-2021' '6/15/2021' '6/17/2021' '6/18/2021' '6/19/2021'
 '6/23/2021' '6/24/2021' '6/28/2021' '6/29/2021' '07-01-2021' '07-08-2021'
 '07-09-2021' '07-10-2021' '07-12-2021' '7/13/2021' '7/16/2021'
 '7/22/2021' '7/24/2021' '7/26/2021' '7/28/2021' '7/29/2021' '7/30/2021'
 '7/31/2021' '08-04-2021' '08-05-2021' '08-06-2021' '08-07-2021'
 '08-10-2021' '8/14/2021' '8/15/2021' '8/16/2021' '8/19/2021' '8/20/2021'
 '8/21/2021' '8/25/2021' '8/26/2021' '09-03-2021' '09-06-2021'
 '09-07-2021' '09-09-2021' '09-11-2021' '9/14/2021' '9/15/2021'
 '9/16/2021' '9/18/2021' '9/21/2021' '9/22/2021' '9/24/2021' '9/27/2021'
 '9/29/2021' '10-01-2021' '10-02-2021' '10-04-2021' '10-05-2021'
 '10-06-2021' '10-08-2021' '10-09-2021' '10-11-2021' '10-12-2021'
 '10/13/2021' '10/14/2021' '10/15/2021' '10/18/2021' '10/20/2021'
 '10/21/2021' '10/23/2021' '10/26/2021' '10/29/2021' '11-01-2021'
 '11-03-2021' '11-12-2021' '11/16/2021' '11/19/2021' '11/22/2021'
 '11/23/2021' '11/26/2021' '11/27/2021' '11/29/2021' '12-02-2021'
 '12-06-2021' '12-09-2021' '12/13/2021' '12/14/2021' '12/15/2021'
 '12/16/2021' '12/21/2021' '12/24/2021' '12/27/2021' '12/28/2021'
 '12/30/2021' '01-01-2022' '01-04-2022' '01-05-2022' '01-10-2022'
 '01-12-2022' '1/13/2022' '1/17/2022' '1/19/2022' '1/24/2022' '1/25/2022'
 '1/27/2022' '1/28/2022' '1/29/2022' '1/31/2022' '02-05-2022' '02-08-2022'
 '02-10-2022' '02-11-2022' '02-12-2022' '2/14/2022' '2/16/2022'
 '2/17/2022' '2/19/2022' '2/21/2022' '2/22/2022' '2/23/2022' '2/24/2022'
 '2/25/2022' '2/26/2022' '2/28/2022' '03-01-2022' '03-03-2022'
 '03-05-2022' '03-08-2022' '03-09-2022' '03-10-2022' '03-12-2022'
 '3/17/2022' '3/21/2022' '3/22/2022' '3/23/2022' '3/25/2022' '3/26/2022'
 '3/28/2022' '3/29/2022' '3/31/2022']

In [6]:

# Remove rows where Product_SKU is empty/nan/blank
df = a.copy()
df = df.dropna(subset=['Product_SKU'])
df = df[df['Product_SKU'].str.strip() != '']

# Save cleaned dataframe
print(f"Rows before cleaning: {len(a)}")
df.to_csv("International_sale_Report_cleaned.csv", index=False)
print(f"Rows after cleaning: {len(df)}")

# Verify unique values in Product_SKU column
print("\nSample of unique Product_SKU values:")
print(df['Product_SKU'].unique()[:10])

Rows before cleaning: 37432
Rows after cleaning: 34958

Sample of unique Product_SKU values:
['MEN5004-KR-L' 'MEN5004-KR-XL' 'MEN5004-KR-XXL' 'MEN5009-KR-L'
 'MEN5011-KR-L' 'MEN5025-KR-L' 'MEN5015-KR-XL' 'MEN5022-KR-XXL'
 'MEN5014-KR-S' 'MEN5013-KR-S']

In [7]:
import numpy as np
import re


# Helper functions
def is_date(value):
    if pd.isna(value):
        return False
    return bool(re.match(r'^\d{1,2}[-/]\d{1,2}[-/]\d{2,4}$', str(value).strip()))

def is_name(value):
    if pd.isna(value):
        return False
    return bool(re.match(r'^[A-Za-z\s\.\&\(\)]+$', str(value).strip()))

# Step 1: Fix swapped values
for i, row in df.iterrows():
    if is_name(row['Sale_Date']) and is_date(row['Customer_Name']):
        df.at[i, 'Sale_Date'], df.at[i, 'Customer_Name'] = row['Customer_Name'], row['Sale_Date']

# Step 2: Clean Sale_Date & convert to datetime
df['Sale_Date'] = pd.to_datetime(df['Sale_Date'], errors='coerce', dayfirst=True)

# Step 3: Remove rows without valid Sale_Date
df = df.dropna(subset=['Sale_Date'])

# Step 4: Create new Sale_Month
df['Sale_Month_Clean'] = df['Sale_Date'].dt.strftime('%y-%b')

# Step 5: Clean Customer_Name (remove months/dates)
df['Customer_Name'] = df['Customer_Name'].replace(
    r'^\d{1,2}[-/][A-Za-z]{3}|\d+$', np.nan, regex=True
)

# Step 6: Drop duplicates and reset index
df = df.reset_index(drop=True)

df['Sale_Date']=df['Sale_Date'].dt.strftime('%d-%m-%Y')
# Get unique customer names
print("Unique Customer Names:")
print(df['Customer_Name'].unique())
print("\n")

# Get unique sale dates
print("Unique Sale Dates:")
print(df['Sale_Date'].unique())
print("\n")

# Get unique sale months
print("Unique Sale Months:")
print(df['Sale_Month_Clean'].unique())

Unique Customer Names:
['REVATHY LOGANATHAN' 'FARIA ESSOPP' 'MANGALAM SHOP' 'MULBERRIES BOUTIQUE'
 'RAZIA ROSEANE NASER' 'COTTON CLOSET LTD' 'THANA MARIMUTHU' 'SHWETA'
 'SURE FASHIONS LLC' 'MR ALWAR MURALI' 'KOGILA SELLAPPAN' 'MONISYAA'
 'AMANI CONCEPT TRADING LLC (KAPDA)' 'VINODHA PUSPANATHAN' 'REKA RASAKODY'
 'BANUJA RASAKODY' 'PUVANES GANNASIN' 'VAHLAARMATHY' 'AKASH KAUSHAL'
 'KIRUTHIKA V SURESHBABU' 'VISHAL DARSHAN BOUTIQUE'
 'GALAXY GROUP OF COMPANIES PVT. LTD'
 'VINIâ€™S AUTHENTIC INDIAN ETHNIC WEAR' 'NIRUSAH TAILORING' 'DEVY'
 'VAHARSHA BOUTIQUE ' 'KALAIVANI PERMALU' 'ARKH FASHION BOUTIQUE PTY LTD'
 'ALAMELOO(MALA)' 'RINO SANDARAN' 'DHENOOGA RAVINTHERAN' 'MEERA RASADURAI'
 'RANDHIR CHAUDHARY' 'ANJU BHARATI' 'VISHA DEVAN' 'KAZI NURAN HAQUE'
 'PUNITHAVATHY KARUPIAH' 'SUUMAYA CLOTHING' 'NALINI' 'MAAVI FASHION'
 'K.PARTHIBAN' 'KHIRTHIKA ' 'HARSINIY KUMARESON' 'SWATI(SINGAPORE)'
 'THILAS BOMBAY BOUTIQUE SDN BHD' 'MR.JEYARAJ' 'ABBI COLLECTION ' 'AVIN  '
 'SHILPI KUMARI' 'YASSHLINY KUNJU' 'IBRAHIM MAFTHOOH(JANASYA.IN)'
 'KHANJANA MOJEE' 'REMMIA MATHEWS' 'NATHIYA REDDY'
 'BHANU SALEINE NAUNITHAM ' 'TURGAH MUTHU KUMAR'
 'VIKNES THREADS COLLECTION' 'FUSION FASHIONS CORP.' 'MRS. SUMITHA RAJU']


Unique Sale Dates:
['06-05-2021' '06-08-2021' '06-11-2021' '07-01-2021' '07-08-2021'
 '07-09-2021' '07-10-2021' '07-12-2021' '08-04-2021' '08-05-2021'
 '08-06-2021' '08-07-2021' '08-10-2021' '09-03-2021' '09-06-2021'
 '09-07-2021' '09-09-2021' '09-11-2021' '10-01-2021' '10-02-2021'
 '10-04-2021' '10-05-2021' '10-06-2021' '10-08-2021' '10-09-2021'
 '10-11-2021' '10-12-2021' '11-01-2021' '11-03-2021' '11-12-2021'
 '12-02-2021' '12-06-2021' '12-09-2021' '01-01-2022' '01-04-2022'
 '01-05-2022' '01-10-2022' '01-12-2022' '02-05-2022' '02-08-2022'
 '02-10-2022' '02-11-2022' '02-12-2022' '03-01-2022' '03-03-2022'
 '03-05-2022' '03-08-2022' '03-09-2022' '03-10-2022' '03-12-2022']


Unique Sale Months:
['21-May' '21-Aug' '21-Nov' '21-Jan' '21-Sep' '21-Oct' '21-Dec' '21-Apr'
 '21-Jun' '21-Jul' '21-Mar' '21-Feb' '22-Jan' '22-Apr' '22-May' '22-Oct'
 '22-Dec' '22-Aug' '22-Nov' '22-Mar' '22-Sep']

In [8]:
# Assuming your original DataFrame is named df
columns_to_remove = [
    'index','Sale_Month'
]

# Assign df to b first, then drop columns
df = df.drop(columns=columns_to_remove)

In [9]:
df.info()
count_rows = len(df)    
print("Total Rows:", count_rows)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6978 entries, 0 to 6977
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Sale_Date           6978 non-null   object
 1   Customer_Name       6978 non-null   object
 2   Product_Style       6978 non-null   object
 3   Product_SKU         6978 non-null   object
 4   Product_Size        6978 non-null   object
 5   Quantity_Purchased  6978 non-null   object
 6   Price_per_Unit      6978 non-null   object
 7   Gross_Amount        6978 non-null   object
 8   Sale_Month_Clean    6978 non-null   object
dtypes: object(9)
memory usage: 490.8+ KB
Total Rows: 6978

In [10]:
df = df.rename(columns={
    'Product_SKU': 'sku',
    'Product_Style': 'style',
    'Product_size': 'size',
    'Quantity_purchased': 'quantity',
    'Sale_Date': 'date',
    'Sale_Month_Clean': 'month'
})

# Check result
print(df.head())

         date       Customer_Name    style             sku Product_Size  \
0  06-05-2021  REVATHY LOGANATHAN  MEN5004    MEN5004-KR-L            L
1  06-05-2021  REVATHY LOGANATHAN  MEN5004   MEN5004-KR-XL           XL
2  06-05-2021  REVATHY LOGANATHAN  MEN5004  MEN5004-KR-XXL          XXL
3  06-05-2021  REVATHY LOGANATHAN  MEN5009    MEN5009-KR-L            L
4  06-05-2021  REVATHY LOGANATHAN  MEN5011    MEN5011-KR-L            L

  Quantity_Purchased Price_per_Unit Gross_Amount   month
0                  1         616.56          617  21-May
1                  1         616.56          617  21-May
2                  1         616.56          617  21-May
3                  1         616.56          617  21-May
4                  1         616.56          617  21-May

In [24]:
df.to_excel('new_international_sales_report.xlsx', index=False)

In [12]:
df.to_csv('new_international_sales_report.csv', index=False)